
body {
    background-color: azure;
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-family: 'Curely', sans-serif;
    font-size: 20px; /* Alterei de 30px para 20px */
}

.menu a {
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px 10px; /* Ajustei os valores de padding */
    color: whitesmoke;
    text-decoration: none;
}

.menu a:hover {
    background-color: #f5dbd7;
    color: #1e7387;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 100px; /* Ajustei a largura */
    height: 50px;
}

.fb:hover,
.ins:hover,
.github:hover { /* Corrigi a classe .githud para .github */
    opacity: 0.7;
}

h1 {
    color: #3e7f8d;
}

.text {
    color:whitesmoke;
    font-size: 18px; /* Alterei de 22px para 18px */
    padding: 10px; /* Ajustei os valores de padding */
    font-family: Arial, Helvetica, sans-serif;
    position: relative; /* Alterei de absolute para relative */
    bottom: 8px;
}
.map h1{
    color: beige;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.rodape{
    color: beige;
    text-align: center;
    background-color: black;
    height: 200px;
}
.rodape a{
    font-size: 22px;
    color: #f0d6ca;
    text-decoration: none
}

.fb:hover{
    opacity: 0.7;
}
.ins:hover{
    opacity: 0.7;
}
.githud:hover{
    opacity: 0.7;
}


