/* Reset de estilos */
.fundo{
    background-image: url(img/smoke2.png);
    background-size: 100%;
    text-align: center;
    background-color: #000000;
}

body, h1, h2, p, img {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: flex-end
}

.menu a{
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px 15px 15px 15px;
    color: rgb(238, 238, 238);
    text-decoration: none;
}

.menu a:hover{
    background-color:rgb(0, 115, 255);
    color: #88bdcb;
}

h1 {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;
}

.creator {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px whitesmoke(245, 245, 245, 0.1);
    background-image:-moz-element;
}

.creator h2 {
    color: whitesmoke;
}

.creator img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.social {
    text-align: center;
    margin-top: 10px;
}

.social a {
    display: inline-block;
    margin: 0 5px;
}

.social img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    color: whitesmoke;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

