/* Reset de estilos */
body, h1, h2, p, img {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.creator {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.creator h2 {
    color: #007bff;
}

.creator img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.social {
    text-align: center;
    margin-top: 10px;
}

.social a {
    display: inline-block;
    margin: 0 5px;
}

.social img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

p {
    margin-bottom: 10px;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

