.fundo{
    background-image: url(img/smoke2.png);
    background-size: 100%;
    text-align: center;
    background-color: #e1d0d0;
}
body{
    background-color:azure;
    padding: 0px;
    margin: 0px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    padding-top: 18px;
    text-align: center;
}
.container{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color:#333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.logo{
    display: flex;
    justify-content: space-between;
}
p {
    line-height: 1.6;
}
.character-type {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

footer {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
 }
.menu{
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.menu a{
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px 15px 15px 15px;
    color: white;
    text-decoration: none;
}
.menu a:hover{
    background-color: #f5dbd7;
    color: #1e7387;
}
.social{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.rodape-container{
   text-align: center;
    margin: auto;
    font-size: medium;
}
.map h1{
    color: beige;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.rodape{
    font-size: 22px;
    color: beige;
    text-align: center;
    display: flex;
    justify-content: left;
    height: 200px;
}
.rodape a{
    font-size: 22px;
    color: #f0d6ca;
    text-decoration: none
}

.fb:hover{
    opacity: 0.7;
}
.ins:hover{
    opacity: 0.7;
}
.githud:hover{
    opacity: 0.7;
}



